<a href="https://colab.research.google.com/github/goldenkiwi-hyeuk/202112python/blob/main/weekendP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 그 언어의 자료형만 잘이해하면 그 언어의 절반이 끝난다!!!!
# List, Tuple, Dict, Set

# List - mutable, 수정과 삭제가 가능하다, 인덱싱, 슬라이싱 가능 [대괄호]로 표현
#        하나의 리스트에 숫자형, 문자형, 튜플, 딕 .... 섞어서 저장이 가능하다[장점? 단점으로 작용하기도 함.]

# 리스트 만들기

odd = [1,2,3,4,5]
odd

[1, 2, 3, 4, 5]

In [8]:
a = []

In [9]:
b = [1,2,3]

In [10]:
c = ['a','b','c']

In [11]:
d = [1,2,'c','d']

In [12]:
e = [1, 2, ['good', 'morning']]

In [13]:
# 리스트 인덱싱 - 몇 번째 요소를 추출[1개를 뽑는것]

In [14]:
a = [1,2,3]
a[0]

1

In [15]:
a[0] + a[2]

4

In [16]:
a[-1]  # 맨 끝에껄 뽑는경우

3

In [17]:
# 리스트 슬라이싱 - 여러게 추출

a = [1,2,3,4,5]
a[0:2] # 0번째 부터 2미만 까지

[1, 2]

In [18]:
b = a[:2] # : 이전 공백은 처음부터
b

[1, 2]

In [19]:
c = a[2:] # : 이후 공백은 끝까지
c

[3, 4, 5]

In [20]:
len(a) # 총 요소의 갯수

5

In [21]:
# 리스트의 수정과 삭제

a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [22]:
del a[1]

In [23]:
a

[1, 4]

In [24]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [28]:
# 리스트 관련 함수들 정리
# append - 리스트에 요소를 추가

a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [29]:
# pop - 요소를 끄집어내기 / 인덱싱과는 다르게 리스트에서 끄집어내며 삭제함
a.pop()

4

In [31]:
a

[1, 2, 3]

In [32]:
a.pop()

3

In [33]:
a

[1, 2]

In [34]:
a.pop(0)

1

In [35]:
a

[2]

In [36]:
# Tuple - immutable, 수정과 삭제가 불가능하다, 인덱싱, 슬라이싱 가능 (소괄호)로 표현
#        하나의 리스트에 숫자형, 문자형, 튜플, 딕 .... 섞어서 저장이 가능하다
#        하나만 튜플로 만들때는 쉼표를 넣어준다.. (2,)

In [38]:
t1 = ()

t2 = (1,2,3)
t3 = ('a', 'b', 'c')
t4 = ('a', 'b', 1, 2,3)

t5 = 1,2,3    # 괄호를 치지 않아도 인식함
t6 = (2,)

In [39]:
t1 = (1,2,3,4,5)
del t1[0]  # 튜플은 삭제 불가능

TypeError: ignored

In [40]:
t1 = (1,2,3,4,5)
t1[0] = 9  # 튜플은 수정 불가능

TypeError: ignored

In [41]:
# 튜플에서 인덱싱
t1 = (1,2,3,4,5)
t1[0]

1

In [42]:
# 튜플에서 슬라이싱
t1 = (1,2,3,4,5)
t1[1:]

(2, 3, 4, 5)

In [43]:
len(t1)

5

In [44]:
# 딕셔너리 - 이름 : 이몽룡, 나이: 13 ..., 키 : 밸류의 데이터 자료형
#            판다스 시리즈, 자바 맵.....
#            인덱싱과 슬라이싱 불가능, mutable 수정과 삭제가 가능하다. {중괄호} 사용

In [45]:
dic = {'이름':'이몽룡', '나이':'13', '여친':'성춘향'}

In [46]:
dic['과거시험'] = '합격'

In [47]:
dic  # 순서가 없기 때문에 마구잡이로 들어감

{'과거시험': '합격', '나이': '13', '여친': '성춘향', '이름': '이몽룡'}

In [48]:
del dic['여친']

In [49]:
dic # 순서가 없기 때문에 인덱싱, 슬라이싱 사용불가

{'과거시험': '합격', '나이': '13', '이름': '이몽룡'}

In [50]:
dic['이름']

'이몽룡'

In [51]:
# 리스트나 튜플은 요소값을 얻어낼때 인덱싱이나 슬라이싱을 사용했따.
# 그러나 딕셔너리는 인덱싱과 슬라이싱이 불가능하며
# 키값으로 밸류값을 얻어내는 방법만 사용한다

In [52]:
# 딕셔너리 관련 함수들
dic.keys()

dict_keys(['이름', '나이', '과거시험'])

In [53]:
list(dic.keys())

['이름', '나이', '과거시험']

In [54]:
dic.values()

dict_values(['이몽룡', '13', '합격'])

In [55]:
dic.items()

dict_items([('이름', '이몽룡'), ('나이', '13'), ('과거시험', '합격')])

In [56]:
'이름' in dic

True

In [57]:
'이메일' in dic

False

In [58]:
# Set 집합 - 중복을 허용하지 않는다. 순서가 없다. unordered
#            인덱싱과 슬라이싱 불가능, 수정과 삭제는 가능하다. mutable
#            중복 제거용 필터 형태로 사용된다.

s1 = set('Hello')
s1

{'H', 'e', 'l', 'o'}

In [59]:
s1 = set([1,2,3])
s1.add(4)
s1

{1, 2, 3, 4}

In [60]:
s1.remove(2)
s1

{1, 3, 4}

In [61]:
s = {"1", 3, 4, 5}
s

{'1', 3, 4, 5}

In [62]:
type(s)

set

In [64]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [74]:
# 시리즈, 데이터 프레임(*)

# Series 키값과 밸류값 형태 즉 파이썬 딕셔너리와 유사한 구조

dict_data ={'a':1, 'b':2, 'c':3} # 파이썬 딕셔너리

In [75]:
sr = pd.Series(dict_data)

In [76]:
sr
print(sr.index)

Index(['a', 'b', 'c'], dtype='object')

In [68]:
type(sr)

pandas.core.series.Series

In [69]:
type(dict_data)

dict

In [77]:
list_data = ['2021-12-14', 3.14, 'ABC', 100, True]

sr = pd.Series(list_data)
sr

# 시리즈의 인덱스 배열과 데이터 값의 배열을
# 인덱스는 0~4 범위의 정수로 인덱스
# 데이터값이 밸류 값으로 나열되어 시리즈를 생성한다.
# 즉 키값이 없는 리스트를 시리즈로 변경시키면 인덱스가 키값이 된다.

0    2021-12-14
1          3.14
2           ABC
3           100
4          True
dtype: object

In [78]:
print(sr.index)

RangeIndex(start=0, stop=5, step=1)

In [79]:
print(sr.values)

['2021-12-14' 3.14 'ABC' 100 True]