<a href="https://colab.research.google.com/github/goldenkiwi-hyeuk/202112python/blob/main/weekendP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [142]:
# 그 언어의 자료형만 잘이해하면 그 언어의 절반이 끝난다!!!!
# List, Tuple, Dict, Set

# List - mutable, 수정과 삭제가 가능하다, 인덱싱, 슬라이싱 가능 [대괄호]로 표현
#        하나의 리스트에 숫자형, 문자형, 튜플, 딕 .... 섞어서 저장이 가능하다[장점? 단점으로 작용하기도 함.]

# 리스트 만들기

odd = [1,2,3,4,5]
odd

[1, 2, 3, 4, 5]

In [143]:
a = []

In [144]:
b = [1,2,3]

In [145]:
c = ['a','b','c']

In [146]:
d = [1,2,'c','d']

In [147]:
e = [1, 2, ['good', 'morning']]

In [148]:
# 리스트 인덱싱 - 몇 번째 요소를 추출[1개를 뽑는것]

In [149]:
a = [1,2,3]
a[0]

1

In [150]:
a[0] + a[2]

4

In [151]:
a[-1]  # 맨 끝에껄 뽑는경우

3

In [152]:
# 리스트 슬라이싱 - 여러게 추출

a = [1,2,3,4,5]
a[0:2] # 0번째 부터 2미만 까지

[1, 2]

In [153]:
b = a[:2] # : 이전 공백은 처음부터
b

[1, 2]

In [154]:
c = a[2:] # : 이후 공백은 끝까지
c

[3, 4, 5]

In [155]:
len(a) # 총 요소의 갯수

5

In [156]:
# 리스트의 수정과 삭제

a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [157]:
del a[1]

In [158]:
a

[1, 4]

In [159]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

In [160]:
# 리스트 관련 함수들 정리
# append - 리스트에 요소를 추가

a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [161]:
# pop - 요소를 끄집어내기 / 인덱싱과는 다르게 리스트에서 끄집어내며 삭제함
a.pop()

4

In [162]:
a

[1, 2, 3]

In [163]:
a.pop()

3

In [164]:
a

[1, 2]

In [165]:
a.pop(0)

1

In [166]:
a

[2]

In [167]:
# Tuple - immutable, 수정과 삭제가 불가능하다, 인덱싱, 슬라이싱 가능 (소괄호)로 표현
#        하나의 리스트에 숫자형, 문자형, 튜플, 딕 .... 섞어서 저장이 가능하다
#        하나만 튜플로 만들때는 쉼표를 넣어준다.. (2,)

In [168]:
t1 = ()

t2 = (1,2,3)
t3 = ('a', 'b', 'c')
t4 = ('a', 'b', 1, 2,3)

t5 = 1,2,3    # 괄호를 치지 않아도 인식함
t6 = (2,)

In [169]:
t1 = (1,2,3,4,5)
del t1[0]  # 튜플은 삭제 불가능

TypeError: ignored

In [ ]:
t1 = (1,2,3,4,5)
t1[0] = 9  # 튜플은 수정 불가능

In [ ]:
# 튜플에서 인덱싱
t1 = (1,2,3,4,5)
t1[0]

In [ ]:
# 튜플에서 슬라이싱
t1 = (1,2,3,4,5)
t1[1:]

In [ ]:
len(t1)

In [ ]:
# 딕셔너리 - 이름 : 이몽룡, 나이: 13 ..., 키 : 밸류의 데이터 자료형
#            판다스 시리즈, 자바 맵.....
#            인덱싱과 슬라이싱 불가능, mutable 수정과 삭제가 가능하다. {중괄호} 사용

In [ ]:
dic = {'이름':'이몽룡', '나이':'13', '여친':'성춘향'}

In [ ]:
dic['과거시험'] = '합격'

In [ ]:
dic  # 순서가 없기 때문에 마구잡이로 들어감

In [ ]:
del dic['여친']

In [ ]:
dic # 순서가 없기 때문에 인덱싱, 슬라이싱 사용불가

In [ ]:
dic['이름']

In [ ]:
# 리스트나 튜플은 요소값을 얻어낼때 인덱싱이나 슬라이싱을 사용했따.
# 그러나 딕셔너리는 인덱싱과 슬라이싱이 불가능하며
# 키값으로 밸류값을 얻어내는 방법만 사용한다

In [ ]:
# 딕셔너리 관련 함수들
dic.keys()

In [ ]:
list(dic.keys())

In [ ]:
dic.values()

In [ ]:
dic.items()

In [ ]:
'이름' in dic

In [ ]:
'이메일' in dic

In [ ]:
# Set 집합 - 중복을 허용하지 않는다. 순서가 없다. unordered
#            인덱싱과 슬라이싱 불가능, 수정과 삭제는 가능하다. mutable
#            중복 제거용 필터 형태로 사용된다.

s1 = set('Hello')
s1

In [ ]:
s1 = set([1,2,3])
s1.add(4)
s1

In [ ]:
s1.remove(2)
s1

In [ ]:
s = {"1", 3, 4, 5}
s

In [ ]:
type(s)

In [ ]:
!pip install pandas
import pandas as pd

In [ ]:
# 시리즈, 데이터 프레임(*)

# Series 키값과 밸류값 형태 즉 파이썬 딕셔너리와 유사한 구조

dict_data ={'a':1, 'b':2, 'c':3} # 파이썬 딕셔너리

In [ ]:
sr = pd.Series(dict_data)

In [ ]:
sr
print(sr.index)

In [ ]:
type(sr)

In [ ]:
type(dict_data)

In [ ]:
list_data = ['2021-12-14', 3.14, 'ABC', 100, True]

sr = pd.Series(list_data)
sr

# 시리즈의 인덱스 배열과 데이터 값의 배열을
# 인덱스는 0~4 범위의 정수로 인덱스
# 데이터값이 밸류 값으로 나열되어 시리즈를 생성한다.
# 즉 키값이 없는 리스트를 시리즈로 변경시키면 인덱스가 키값이 된다.

In [ ]:
print(sr.index)

In [ ]:
print(sr.values)

In [ ]:
tuple_data = ('홍길동', '2000-12-04', '남', '학생')

In [ ]:
sr = pd.Series(tuple_data)
sr

In [ ]:
sr1 = pd.Series(tuple_data, index = ['이름', '생일', '성별', '직업']) # 인덱스 직접 부여 가능
sr1

In [ ]:
sr1[0] # 시리즈와 딕셔너리의 차이점 시리즈는 인덱싱이 가능함
# 해당 인덱스의 밸류값이 나옴

In [ ]:
sr1['이름']

In [ ]:
# 데이터 프레임 - 행과 열로 만들어지는 2차원 배열 형태의 자료구조
# 가장 익숙한 형태 = 엑셀

In [ ]:
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [ ]:
df = pd.DataFrame(dict_data)
df

In [ ]:
type(df)

In [ ]:
df = pd.DataFrame([[15,'남','강남중'], [17, '여', '서초중']], index = ['준서', '예은'], columns = ['나이', '성별','학교'])

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.index=['학생1','학생2']

In [ ]:
df

In [ ]:
df.columns = ['code1', 'code2', 'code3']

In [ ]:
df

In [ ]:
exam_data = {'수학':[90,80,70], '영어':[98,89,85], 
             '음악':[85,95,100], '체육':[100,90,90]}

In [ ]:
df = pd.DataFrame(exam_data, index = ['지민','정국','슈가'])
df

In [ ]:
df2 = df[:]
df2

In [ ]:
# 데이터 프레임에서 행 삭제
df2.drop('지민')  # 임시 삭제의 개념

In [ ]:
df2.drop('지민', inplace = True)
df2.drop('정국', inplace = True)

In [ ]:
df2

In [ ]:
df

In [ ]:
df3 = df[:]
df3.drop(['지민', '슈가'], axis = 0, inplace = True) # axis = 0 : 행 방향
df3

In [ ]:
df4 = df[:]
df4.drop('수학', axis=1, inplace= True)
df4

In [ ]:
df4 = df[:]
df4.drop(['수학','음악', '체육'], axis=1, inplace= True)
df4

In [ ]:
# 행 선택 , 
# loc[location] : 인덱스 이름을 기준으로 선택
# iloc[index location] : 인덱스 번호를 기준으로 선택

In [ ]:
df5= df[:]

In [ ]:
label1= df.loc['지민'] # 인덱스 값을 글자로 선택
label1

In [ ]:
index1 = df.iloc[0]
index1

In [ ]:
label2 = df.loc[['지민', '슈가']]
label2

In [ ]:
index2 = df.iloc[[0,1]]
index2

In [ ]:
label3 = df.loc['지민':'슈가']
label3

In [ ]:
index3 = df.iloc[0:3] # 0번째 부터 3미만 즉 2까지
index3

In [ ]:
df5

In [ ]:
math1 = df5['수학']
math1

In [ ]:
eng1 = df5.영어
eng1

In [ ]:
etc1 = df5[['음악', '체육']]
etc1

In [ ]:
df5.iloc[: :2]  #0행부터(생략), 끝까지(2행까지), 간격이 2
# df5.iloc[0:3:2]와 같은 표현

In [ ]:
df5.iloc[::-1]  # 꺼꾸로 뒤집어서 출력

In [ ]:
df5

In [ ]:
df['국어'] = 80
df

In [ ]:
df.loc[3] = 0
df

In [ ]:
df.loc['뷔'] = [90,80,99,100,90]
df

In [170]:
df

    수학  영어   음악   체육  국어
지민  90  98   85  100  80
정국  80  89   95   90  80
슈가  70  85  100   90  80
3    0   0    0    0   0
뷔   90  80   99  100  90